@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.container {
  width: 100%;
  margin: 50px auto;
}

@media (min-width: 580px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 760px) {
  .container {
    max-width: 720px;
  }
}

#title {
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#description {
  font-style: italic;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

form:hover {
  box-shadow: 0 0 0 4px #5bbba5;
  transition: box-shadow 0.15s ease-in-out;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group {
  margin: 0 auto 20px auto;
  padding: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 15px 20px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}

.form-group p {
  text-align: left;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  accent-color: #80bdff;
  margin-right: 20px;
  min-height: 20px;
  min-width: 20px;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 20px;
  resize: vertical;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}

.submit-button {
  display: block;
  width: 100%;
  padding: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  box-shadow: 0 0 0 4px #5bbba5;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#dropdown {
  width: 100%;
  height: 30px;
  padding: 0 20px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

#dropdown:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#name {
  margin-bottom: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
